<table>
  <thead>
    <tr>
    <th (click)="sortType('name', 'ascy')">Name</th>
    <th (click)="sortType('math', 'ascy')">Math</th>
    <th (click)="sortType('science', 'ascy')">Science</th>
    <th (click)="sortType('chemistery', 'ascy')">Chemistery</th>
    <th (click)="sortType('sport', 'ascy')">Sport</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let s of students"> 
      <td>{{s.name}}</td>
      <td>{{s.math}}</td>
      <td>{{s.science}}</td>
      <td>{{s.chemistery}}</td>
      <td>{{s.sport}}</td>
    </tr>
  </tbody>

</table>



<input type="text"  [(ngModel)]="searchName" (input)="search()"  placeholder="Enter your names ...">